@{
    ViewBag.Title = "UserList";
}
<table class="table table-bordered" id="LUsers">
    <tr>
        <th> Пользователь </th>
        <th>  </th>
    </tr>
    <tr>
        <td> Вася </td>
        <td> <input id="btnInviteUser" type="button" value="Пригласить" /> </td>
    </tr>
</table>